.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;

    width: 450px;
    min-height: 286px;
    padding: 32px;
    border-radius: 16px;
    gap: 32px;
    box-shadow: 0px 24px 48px -12px #1018282E;
}

.modalTitle{
    font-family: Inter Tight;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-bottom: 32px;
    font-weight: bold;
}

.labelTitulo{
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
}

.InputTitle{
    width: 386px;
    min-height: 51px;
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    gap: 16px;
    border: 1px solid #D7DDE9;
    margin-bottom: 32px;
    margin-top: 8px;
}

.InputTitle::placeholder {
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0000008F;
}

.closeButton{
    width: 185px;
    min-height: 51px;
    padding: 16px, 24px, 16px, 24px;
    border-radius: 8px;
    gap: 8px;
    background: #E7EEFB;
    border: none;
    margin-right: 16px;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.openButton{
    width: 185px;
    min-height: 51px;
    padding: 16px, 24px, 16px, 24px;
    border-radius: 8px;
    gap: 8px;
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    border: none;

    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        padding: 24px; 
        box-sizing: border-box; 
    }

    .InputTitle{
        width: 272px;
        min-height: 51px;
        padding: 16px;
        border-radius: 8px;
        border: 1px;
        gap: 16px;
        border: 1px solid #D7DDE9;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    .divButtons {
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
    }

    .openButton {
        width: 100%;
    }

    .closeButton {
        width: 100%;
    }
}

